.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 400px;
  left: 50px;
}

.baloon {
position: absolute;
left: 250px;
top: 200px;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 270px;
  top: 245px;
  z-index: 4;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 500px;
  top: 400px;  
}