p,h1,h2,h3 {
  font-family: helvetica;
}

h1{
  font-size: 40px;
}

.header {
  text-align: center;
}

nav{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  font-family: monospace;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(238, 238, 238);
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  width: 30%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}